@import '../../App';

.calendar{

  background-color: white;
  p{
    font-size: $smallSize;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .calendarBody{
    display: flex;
    align-items: center;
    padding-top: 7px;

    p{
      font-size: $textSize;
      margin-top: 0;
      margin-right: 15px;
    }

    input{
      width: 180px;
      padding: 5px;
      border-radius: 13px;
      outline: 0;
      font-size: $smallSize;
    }
  }
}