@import '../../App';


.news{
  border-radius: 20px;
  background-color: white;
  min-width: 50vw;
  padding-bottom: 15px;
  padding-left: 30px;
  margin-bottom: 20px;

  h3{
    padding: 20px 0 0 15px;
    font-size: $textSize;
    margin: 0;
  }

  ul li{
    font-size: $smallSize;
  }
}